@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1b888a;
  --primary-diff-color: #c2422b;
  --accent-color: #ee674e;
  --dark-color: #111926;
  --text-color: #000;
  --bg-color-one: #fff;
  --bg-color-two: #f2f2f2;
  --secondary: #f2f4f8;
}

body {
  background-color: white;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  margin: 15px;
}

header {
  align-items: center;
  padding: 0px 0px;
  border: none;
  min-height: 70px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* border-radius: 40px 0px 0px 0px; */
}

.nav-left img {
  padding-right: 1rem;
  align-items: center;
  display: flex;
  height: 25px;
}

.categories {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: linear-gradient(90deg, #050505, #616161);
  color: white;
  padding: 8px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  line-height: 1.5em;
}

.dropbtn i {
  font-size: 14px;
}

.nav-right i {
  font-size: 20px;
}

.categories:hover {
  display: block;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 1.5rem;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
}
nav ul li a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.nav-right .icons {
  display: flex;
  gap: 15px;
}
.icons .nav-icon {
  background-color: var(--bg-color-two);
  height: 40px;
  line-height: 0em;
  overflow: hidden;
  transition: 0.3s;
  width: 40px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.icons .nav-icon:hover {
  background-color: var(--accent-color);
}

.nav-icon i {
  font-size: 14px;
  text-align: center;
}

main {
  background-color: #f2f4f8;
  padding: 10px 0px;
  border-radius: 25px;
}

.single-product {
  display: flex;
  margin: auto;
  max-width: 1320px;
  flex-direction: column;
}
.search-bar {
  width: 100%;
  margin: auto;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ededed;
  border-radius: 6px;
}

.search-bar input::placeholder {
  color: #b6b8bb;
}

.breadcrumb {
  margin: 10px;
  font-size: 14px;
  color: var(--text-color);
}

.product-container {
  display: flex;
  justify-content: center;
  max-width: 1320px;
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
}
.col1 {
  width: 42%;
}

.col2 {
  width: 58%;
}
.c1-r1 {
  position: relative;
  margin-right: 20px;
  background: white;
  border-radius: 6px;
}

.c1-r1 img {
  width: 100%;
  border-radius: 10px;
}

.point-badge{
  background-color: #f2f4f8;
    color: var(--primary-color);
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transform: rotate(-45deg) translate(-28%, -22%);
    width: 170px;
    overflow: hidden;
}

.badge{
  max-width: 20vw;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    z-index: 2
}

.c2{
  background-color: var(--bg-color-one);
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 24px 20px;
  position: relative;
  
}

/* col2 r1 */
.c2.r1 h1 {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
}

.sub-title {
  font-size: 16px;
  color: black;
}

.description {
  margin: 10px 0;
  line-height: 1.5;
}

.price {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 12px;
  margin-top: 6px;
  text-align: right;
}
.discount-info {
  color: var(--dark-color);
}

.discount-price {
  font-size: 24px;
  color: var(--accent-color);
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: var(--dark-color);
  margin-left: 10px;
}

.stock {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.in-stock {
  color: green;
}

.info{
  background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
    padding: 4px 16px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  gap: 20px;
}

.options .btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: inline-flex;
  font-weight: 600;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.options .btn.green {
  background: var(--primary-color);
}
.options .btn.green i {
  font-size: 15px;
}

.options .btn.cmp {
  display: flex;
  gap: 5px;
}

.options .btn.whatsapp {
  border: 1px solid #25b43c;
  color: #25b43c;
  text-transform: none;
}

/* col2 row 2 */
.c2.r2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.c2.r2 h4{
  display: block;
    font-size: 16px;
    margin-bottom: 0;
    width: 90px;
}

.c2 .variants{
  align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.storage-options,.color-options,.region {
  margin: 10px 0;
  display: flex;
    align-items: center;
}

.button1 {
  align-items: center;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    display: inline-flex;
    font-weight: 500;
    padding: 5px 16px;
    text-transform: uppercase;
    margin: 8px;
    line-height: 1.8em;
}

.button1.active {
  background: teal;
  color: white;
}

.color {
  align-items: center;
    background-color: #fff;
    border: 2px solid #d3d3d3;
    border-radius: 100px;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    margin: 5px;
    padding: 0;
    width: 40px;
    cursor: pointer;
}

.color:active{
  border-color:black ;
}

.color-cirlce{
  border-radius: 100px;
    display: block;
    height: calc(100% - 10px);
    margin: 0px;
    width: calc(100% - 10px);
}

/* c2 r3 */

.row1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.points{
  align-items: center;
    background-color: var(--bg-color-two);
    border-radius: 8px;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
    padding: 10px;
    text-align: center;
    width: calc(25% - 16px);
    flex-wrap: wrap;
}

.points .rating{
  color: currentColor;
    font-size: 24px;
    margin-bottom: 4px;
    color: #111926;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0 0 16px;
}

.points .r_name{
  font-size: 14px;
  line-height: 1.2em;
}

.points i{
 font-size: 30px;
  margin-bottom: 8px;
    
}

.points .svg{
  height: 30px;
    margin-bottom: 8px;
    width: 30px;
}

/* row 2 */
.row2,.row3{
  margin-top: 4px;
  display: flex;
  margin-top: 8px;
}
/* Price Selection */
.psection {
  display: flex;
  flex-wrap: wrap;
}

.psection{
  align-items: center;
    background-color: var(--bg-color-two);
    border: 1px solid transparent;
    border-radius: 8px;
    color: var(--dark-color);
    display: flex;
    justify-content: center;
    margin: 8px;
    text-align: center;
    width: 100%;
    border-color: #acacac;
    flex-direction: row;
    height: auto;
    padding: 20px 30px 20px 20px;
}

.psection .price-box{
  display: flex;
  align-items: center;
}

.price-box input{
  height: 20px;
    margin-right: 15px;
    width: 20px;
}

/* row3 */

/* Quantity Selector */
.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #009688;
  border-radius: 5px;
  overflow: hidden;
  width: calc(33.33% - 16px);
  position: relative;
  justify-content: space-around;
  
}
.quantity .read{
    /* background: var(--bg-color-one);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    text-align: center;
    width: 100%; */
}

.qty-btn {
  background: #009688;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.qty-btn:hover {
  background: #00796b;
}

.quantity input {
  width: 40px;
  text-align: center;
  border: none;
  font-size: 16px;
}

/* Buttons */
.add-to-cart, .buy-now {
  border: none;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-to-cart {
  background: #e57373;
}

.buy-now {
  background: #31b3ba;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 8px 24px;
    text-transform: capitalize;
}

.add-to-cart:hover {
  background: #d32f2f;
}

.buy-now:hover {
  background: #0097a7;
}

/* Icons */
button i {
  font-size: 14px;
}