@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1b888a;
  --primary-diff-color: #c2422b;
  --accent-color: #ee674e;
  --dark-color: #111926;
  --text-color: #000;
  --bg-color-one: #fff;
  --bg-color-two: #f2f2f2;
  --secondary: #f2f4f8;
}

body {
  background-color: white;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  margin: 15px;
}

header {
  align-items: center;
  padding: 0px 0px;
  border: none;
  min-height: 70px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-nav {
  display: none;
}

.menu-icon {
  display: none; /* Hide menu icon by default */
}

.menu-checkbox {
  display: none; /* Hide checkbox */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* border-radius: 40px 0px 0px 0px; */
}

.nav-left img {
  padding-right: 1rem;
  align-items: center;
  display: flex;
  height: 25px;
}

.categories {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: linear-gradient(90deg, #050505, #616161);
  color: white;
  padding: 8px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  line-height: 1.5em;
}

.dropbtn i {
  font-size: 14px;
}

.nav-right i {
  font-size: 20px;
}

.categories:hover {
  display: block;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 1.5rem;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
}
nav ul li a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.nav-right .icons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.icons .nav-icon {
  background-color: var(--bg-color-two);
  height: 40px;
  line-height: 0em;
  overflow: hidden;
  transition: 0.3s;
  width: 40px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.icons .nav-icon:hover {
  background-color: var(--accent-color);
}

.nav-icon i {
  font-size: 14px;
  text-align: center;
}

main {
  background-color: #f2f4f8;
  padding: 10px 0px;
  border-radius: 25px;
}

.single-product {
  display: flex;
  margin: auto;
  max-width: 1320px;
  flex-direction: column;
  justify-content: center;
}

.s-bar{
  padding: 10px;
}
.search-bar {
  width: 100%;
  margin: auto;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ededed;
  border-radius: 6px;
}

.search-bar input::placeholder {
  color: #b6b8bb;
}

.breadcrumb {
  margin: 10px;
  font-size: 14px;
  color: var(--text-color);
}

.product-container {
  display: flex;
  justify-content: center;
  max-width: 1320px;
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
}
.col1 {
  width: 42%;
}

.col2 {
  width: 58%;
}

.c1-r1 {
  position: relative;
  background: white;
  border-radius: 6px;
  padding: 30px 0px;
}

.c1-r1 img {
  max-width: 100%;
  border-radius: 10px;
}

.point-badge {
  background-color: #f2f4f8;
  color: var(--primary-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  padding: 6px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transform: rotate(-45deg) translate(-28%, -22%);
  width: 170px;
  overflow: hidden;
}

.badge {
  max-width: 20vw;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  z-index: 2;
}

.c1-r2 {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid var(--bg-color-two);
  border-radius: 6px;
  overflow: hidden;
  padding: 12px 24px;
}

.row {
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
}

.phne img {
  cursor: pointer;
  filter: saturate(1);
  max-width: 100px;
  transition: 0.3s;
}

/* c1 r3 */
.c1-r3 {
  margin-top: 10px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
}

.social-links .s-icon {
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 99px;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  margin: 5px;
  width: 38px;
}

.s-icon:hover {
  cursor: pointer;
  background-color: white;
  filter: invert(1);
}
.c2 {
  background-color: var(--bg-color-one);
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 24px 20px;
  position: relative;
}

/* col2 r1 */
.c2.r1 h1 {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
}

.sub-title {
  font-size: 16px;
  color: black;
}

.description {
  margin: 10px 0;
  line-height: 1.5;
}

.price {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 12px;
  margin-top: 6px;
  text-align: right;
}
.discount-info {
  color: var(--dark-color);
}

.discount-price {
  font-size: 24px;
  color: var(--accent-color);
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: var(--dark-color);
  margin-left: 10px;
}

.stock {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.in-stock {
  color: green;
}

.info {
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
  padding: 4px 16px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  gap: 20px;
}

.options .btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: inline-flex;
  font-weight: 600;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.options .btn.green {
  background: var(--primary-color);
}
.options .btn.green i {
  font-size: 15px;
}

.options .btn.cmp {
  display: flex;
  gap: 5px;
}

.options .btn.whatsapp {
  border: 1px solid #25b43c;
  color: #25b43c;
  text-transform: none;
}

/* col2 row 2 */
.c2.r2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.c2.r2 h4 {
  display: block;
  font-size: 16px;
  margin-bottom: 0;
  width: 90px;
}

.c2 .variants {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.storage-options,
.color-options,
.region {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.button1 {
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: inline-flex;
  font-weight: 500;
  padding: 5px 16px;
  text-transform: uppercase;
  margin: 8px;
  line-height: 1.8em;
}

.button1.active {
  background: teal;
  color: white;
}

.color {
  align-items: center;
  background-color: #fff;
  border: 2px solid #d3d3d3;
  border-radius: 100px;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  margin: 5px;
  padding: 0;
  width: 40px;
  cursor: pointer;
}

.color:active {
  border-color: black;
}

.color-cirlce {
  border-radius: 100px;
  display: block;
  height: calc(100% - 10px);
  margin: 0px;
  width: calc(100% - 10px);
}

/* c2 r3 */

.row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.points {
  align-items: center;
  background-color: var(--bg-color-two);
  border-radius: 8px;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  padding: 10px;
  text-align: center;
  width: calc(25% - 16px);
  flex-wrap: wrap;
}

.points .rating {
  color: currentColor;
  font-size: 24px;
  margin-bottom: 4px;
  color: #111926;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 16px;
}

.points .r_name {
  font-size: 14px;
  line-height: 1.2em;
}

.points i {
  font-size: 30px;
  margin-bottom: 8px;
}

.points .svg {
  height: 30px;
  margin-bottom: 8px;
  width: 30px;
}

/* row 2 */
.row2,
.row3 {
  margin-top: 4px;
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
}
/* Price Selection */
.psection {
  display: flex;
  flex-wrap: wrap;
}

.psection {
  align-items: center;
  background-color: var(--bg-color-two);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  margin: 8px;
  text-align: center;
  width: calc(50% - 16px);
  border-color: #acacac;
  flex-direction: row;
  height: auto;
  padding: 20px 30px 20px 20px;
}

.psection .price-box {
  display: flex;
  align-items: center;
}

.price-box input {
  height: 20px;
  margin-right: 15px;
  width: 20px;
}

/* row3 */

/* Quantity Selector */
.quantity,
.cart-btn,
.buy-btn {
  position: relative;
  width: calc(33.33% - 16px);
  margin: 8px;
}
.quantity .read {
  background: var(--bg-color-one);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
  text-align: center;
  width: 100%;
  line-height: 1.7em;
}

.qty-btn {
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: #fff;
  display: flex;
  height: 24px;
  justify-content: center;
  line-height: 0;
  padding: 0;
  position: absolute;
  width: 24px;
  top: 10px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.qty-btn.minus {
  left: 5px;
}

.qty-btn.plus {
  right: 5px;
}

.qty-btn.minus:hover,
.qty-btn.plus:hover {
  background-color: white;
  color: var(--primary-color);
  transition: 0.3s;
}

/* Buttons */
.add-to-cart {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  padding: 8px 24px;
  width: 100%;
  line-height: 1.8em;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s;
}

.buy-now {
  background: #31b3ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 8px 24px;
  width: 100%;
  text-transform: capitalize;
  line-height: 1.8em;
  cursor: pointer;
}

.buy-now:hover {
  background: #0097a7;
  transition: 0.3s;
}

/* Icons */
button i {
  font-size: 14px;
}

.related-product-container {
  max-width: 1320px;
  padding: 20px;
}

.related-product {
  background-color: var(--bg-color-one);
  border: 1px solid var(--bg-color-two);
  border-radius: 6px;
  padding: 14px;
  margin-bottom: 2rem;
}

.related-product .r-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.r-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.phone1 {
  background-color: #fff;
  border: 0.5px solid rgb(228, 228, 228);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  position: relative;
  margin-bottom: 10px;
  width: 300px;
}

.phn-img {
  background-color: #f7f7f7;
  border-radius: 6px;
  height: 80px;
  margin: 0 12px 0 0;
  overflow: hidden;
  position: relative;
  width: 80px;
  z-index: 2;
}

.phn-img img {
  flex-shrink: 1;
  max-width: 100%;
  height: auto;
}

.phone1 .phn-des {
  width: calc(100% - 92px);
}

.pbadge {
  left: 0;
  position: absolute;
  top: 0;
}

.pbadge .badge {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 8px;
  padding: 3px 4px;
  text-transform: uppercase;
  max-width: 65px;
  right: -70px;
  top: 0px;
  /* width: 65px; */
  z-index: 2;
  text-align: center;
}

.des-title {
  color: #111926;
  display: -webkit-box;
  font-size: 110%;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
}

.des-price del {
  font-size: 80%;
  margin-left: 10px;
}

/* Responsive Part */
/* max-width = 1200 */
@media screen and (max-width: 1200px) {
  header {
    max-width: 1140px;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
  }

  .mobile-nav .ph-logo {
    font-size: 25px;
  }

  .nav-left,
  .nav-right,
  .categories {
    display: none;
    /* Hide desktop menu */
  }

  .menu-icon {
    display: block; /* Show menu icon */
    font-size: 24px;
    cursor: pointer;
  }
  .phone1 {
    flex: 0 0 auto;
    width: 30%;
    
  }
}

/* max-width = 992 */
@media screen and (max-width: 992px) {
  .product-container,
  .single-product,
  .related-product-container {
    flex-wrap: wrap;
    max-width: 900px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display: flex;
  }

  .col1,
  .col2,
  .related-product {
    flex-shrink: 0;
    width: 100%;
  }

  .row1 .points {
    margin: 4px;
    padding: 5px;
    width: calc(25% - 8px);
  }

  .row2 .psection {
    padding: 10px;
    text-align: left;
  }

  .phone1 {
    width: 32%;

  }
}

@media screen and (max-width: 768px) {
  .phone1{
    flex: 0 0 auto;
    width: 49%;
  }

  .row2 .psection {
    padding: 5px;
    text-align: left;
  }
  
  main{
    border-radius: 0px;
  }
}

@media screen and (max-width: 576px) {
  /* 540px */
  header{
    width: 100%;
  }

  .phone1{
    flex: 0 0 auto;
    width: 100%;
  }
  .product-container,
  .single-product,
  .related-product-container,body {
    flex-wrap: wrap;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .s-bar{
    width: 100%;
    padding-left: 15px;
    padding-left: 15px;
  }

  main{
    border-radius: 0px;
  }


  .r3 .quantity,.cart-btn,.buy-btn{
   width: 100%; 
  }
  .related-product{
    background-color: transparent;
    padding: 0;
  }

.price-content b{
  font-size: 12px;
}

.price-content p{
  font-size: 10px;
}
  
}
